body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    margin-top: 75px;
    width: 100vw;
    justify-content: center;
    
}
#rouge{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    box-shadow: 5px 5px 10px black;
    width: 40%;
}
#valid{
    display: flex;
    margin: 20px;
    width: 100%;
    justify-content: flex-end;
    margin-right: 75px;

}
#rejouer{
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
    background-color: black;
    color: aliceblue;
}
input{
    height: 25px;
    width: 40px;
}
label{
    margin-right: 30px;
}
#bouton-valider{
    background-color: black;
    color: aliceblue;
}
p{
    color: aliceblue;
    font-size: 20px;
}